# dependencies
/node_modules
/.pnpm-store

# next.js
/.next/
/out/

# production
/build

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# SQLite local databases (optional - keep schema in git)
prisma/*.db
prisma/*.db-journal
